{%extends "index.html"%}
{%load static%}
{%block body%}

        <!-- page-title -->
        <section class="page-title">
            <div class="bg-layer" style="background-image: url('{%static 'assets/images/pragati/banner-2.jpg'%}');"></div>
            <div class="pattern-layer" style="background-image: url('{%static 'assets/images/shape/shape-20.png'%}');"></div>
            <div class="line-box">
                <div class="line-1"></div>
                <div class="line-2"></div>
            </div>
            <div class="auto-container">
                <div class="content-box">
                    <h1>Achievements</h1>
                    <ul class="bread-crumb clearfix">
                        <!-- <li><a href="index.html">Home</a></li> -->
                        <li><span style="color: rgb(211, 211, 1);">Pragati Parivar</span></li>
                    </ul>
                </div>
            </div>
        </section>
        <!-- page-title end -->


        <!-- history-section -->
        <section class="history-section">
            <div class="auto-container">
                <div class="inner-container">
                    <div class="line"></div>
                    <div class="inner-content">
                        <div class="inner-box">
                            <div class="row align-items-center">
                                <div class="col-lg-6 col-md-6 col-sm-12 image-column">
                                    <div class="image-box mr_140">
                                        <figure class="image"><img src="{%static 'assets/images/resource/history-1.jpg'%}" alt=""></figure>
                                        <span class="year">1824</span>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 content-column">
                                    <div class="content-box ml_140">
                                        <h3><a href="history.html">City Council Founded</a></h3>
                                        <p>They cannot foresee the pain & trouble that are bound to ensue and equal blame who fail in their duty.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="inner-box">
                            <div class="row align-items-center">
                                <div class="col-lg-6 col-md-6 col-sm-12 content-column">
                                    <div class="content-box mr_140">
                                        <h3><a href="history.html">Around the City</a></h3>
                                        <p>Holds in these matters to this principle of selection: he rejects pleasuressecure other greater pleasures endure.</p>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 image-column">
                                    <div class="image-box ml_140">
                                        <figure class="image"><img src="{%static 'assets/images/resource/history-2.jpg'%}" alt=""></figure>
                                        <span class="year">1920</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="inner-box">
                            <div class="row align-items-center">
                                <div class="col-lg-6 col-md-6 col-sm-12 image-column">
                                    <div class="image-box mr_140">
                                        <figure class="image"><img src="{%static 'assets/images/resource/history-3.jpg'%}" alt=""></figure>
                                        <span class="year">1980</span>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 content-column">
                                    <div class="content-box ml_140">
                                        <h3><a href="history.html">Save Environmental</a></h3>
                                        <p>Obligations of business it will frequently occur that pleasures have to repudiated and annoyances accepted.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="inner-box">
                            <div class="row align-items-center">
                                <div class="col-lg-6 col-md-6 col-sm-12 content-column">
                                    <div class="content-box mr_140">
                                        <h3><a href="history.html">First Women Mayor</a></h3>
                                        <p>To do what we like best every pleasure to be welcomed and every pain avoided certain circumstances.</p>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 image-column">
                                    <div class="image-box ml_140">
                                        <figure class="image"><img src="{%static 'assets/images/resource/history-4.jpg'%}" alt=""></figure>
                                        <span class="year">2000</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="inner-box">
                            <div class="row align-items-center">
                                <div class="col-lg-6 col-md-6 col-sm-12 image-column">
                                    <div class="image-box mr_140">
                                        <figure class="image"><img src="{%static 'assets/images/resource/history-5.jpg'%}" alt=""></figure>
                                        <span class="year">2015</span>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 content-column">
                                    <div class="content-box ml_140">
                                        <h3><a href="history.html">City Council Election</a></h3>
                                        <p>They cannot foresee the pain & trouble that are bound to ensue; and equal blame who fail in their duty.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="inner-box">
                            <div class="row align-items-center">
                                <div class="col-lg-6 col-md-6 col-sm-12 content-column">
                                    <div class="content-box mr_140">
                                        <h3><a href="history.html">Smart City Project</a></h3>
                                        <p>Holds in these matters to this principle of selection: he rejects pleasuressecure other greater pleasures endure.</p>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 image-column">
                                    <div class="image-box ml_140">
                                        <figure class="image"><img src="{%static 'assets/images/resource/history-6.jpg'%}" alt=""></figure>
                                        <span class="year">2023</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- history-section end -->


        <!-- contact-section -->
        <section class="contact-section">
            <div class="bg-layer" style="background-image: url('{%static 'assets/images/background/contact-bg-2.jpg'%}');"></div>
            <div class="auto-container">
                <div class="row clearfix">
                    <div class="col-lg-4 col-md-12 col-sm-12 title-column">
                        <div class="left-column">
                            <div class="sec-title light">
                                <h2>Contact to <br />Report Emergencies</h2>
                                <p>Primary telephone numbers for assistance.</p>
                            </div>
                            <ul class="list-style-one clearfix">
                                <li>Prompt & efficient services</li>
                                <li>Easy access to our services</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-8 col-md-12 col-sm-12 content-column">
                        <div class="content-box">
                            <div class="row clearfix">
                                <div class="col-lg-4 col-md-6 col-sm-12 contact-block">
                                    <div class="contact-block-one">
                                        <div class="inner-box">
                                            <div class="icon-box"><img src="{%static 'assets/images/icons/icon-81.png'%}" alt=""></div>
                                            <h3><a href="tel:000">000</a></h3>
                                            <h4>Emergency</h4>
                                            <p>Ambulance, Fire, Police...</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6 col-sm-12 contact-block">
                                    <div class="contact-block-one">
                                        <div class="inner-box">
                                            <div class="icon-box"><img src="{%static 'assets/images/icons/icon-82.png'%}" alt=""></div>
                                            <h3><a href="tel:0180068626800">1800 686 268</a></h3>
                                            <h4>Helpline</h4>
                                            <p>Pregnancy, Breast feed...</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6 col-sm-12 contact-block">
                                    <div class="contact-block-one">
                                        <div class="inner-box">
                                            <div class="icon-box"><img src="{%static 'assets/images/icons/icon-83.png'%}" alt=""></div>
                                            <h3><a href="tel:131126">13 11 26</a></h3>
                                            <h4>Health</h4>
                                            <p>Poisons Information Line...</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- contact-section end -->


       {%endblock%}