{%extends "index.html"%}
{%load static%}
{%block body%}


        <!-- page-title -->
        <section class="page-title">
            <div class="bg-layer" style="background-image: url({%static 'assets/images/pragati/banner-2.jpg'%});"></div>
            <div class="pattern-layer" style="background-image: url({%static 'assets/images/shape/shape-20.png'%});"></div>
            <div class="line-box">
                <div class="line-1"></div>
                <div class="line-2"></div>
            </div>
            <div class="auto-container">
                <div class="content-box">
                    <h1>Biography</h1>
                    <ul class="bread-crumb clearfix">
                        <!-- <li><a href="index.html">Home</a></li> -->
                        <li><span style="color: rgb(211, 211, 1);">Pragati Parivar</span></li>
                    </ul>
                </div>
            </div>
        </section>
        <!-- page-title end -->


        <!-- about-style-three -->
        <section class="about-style-three white-bg">
            <div class="auto-container">
                <div class="row clearfix">
                    <div class="col-lg-6 col-md-12 col-sm-12 image-column">
                        <div class="image-box">
                            <figure class="image image-1"><img src="{%static 'assets/images/pragati/p11.jpg'%}" alt=""></figure>
                            <!-- <figure class="image image-2"><img src="{%static 'assets/images/pragati/p9.jpg'%}" style="height: 200px;" alt=""></figure> -->
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-12 content-column">
                        <div class="content-box">
                            <div class="sec-title">
                                <h2>Pragati Parivar - Business Training and Networking Platform</h2>
                            </div>
                            <div class="text-box">
                                <!-- <h4>This city of stars is shining just for you, he capital of wise men and women.</h4> -->
                                <p>Welcome to Pragati Training Services Pvt Ltd., your number one source for all Business Training & Networking needs. We’re dedicated to giving you the very best of business training and networking opportunities, with a focus on Business Trainings. Pragati Parivar is brand name of Pragati Training Services Pvt Ltd for providing business training and networking services.</p>
                                <p style="margin-top: 20px;">Founded in February 2016 by Mr.Praveen Narang with 2 more partners,Pragati Training Services Pvt Ltd. has come a long way from its beginnings in East Delhi. When Mr.Praveen Narang first started out,his passion for providing platform to businessman and professionals to learn and grow with each other and drove them to reach heights in business and profession so that Pragati Training Services Pvt Ltd.</p>
                            </div>
                            <!-- <ul class="accordion-box">
                                <li class="accordion block active-block">
                                    <div class="acc-btn active">
                                        <h3><img src="{%static 'assets/images/icons/icon-67.png'%}" alt="">City Council</h3>
                                    </div>
                                    <div class="acc-content current">
                                        <p>Rationally encounter consequences that are extremely painful again is there anyone who loves.</p>
                                        <div class="link-box">
                                            <a href="index-3.html"><span>Read More</span></a>
                                        </div>
                                    </div>
                                </li>
                                <li class="accordion block">
                                    <div class="acc-btn">
                                        <h3><img src="{%static 'assets/images/icons/icon-67.png'%}" alt="">Office of The Mayor</h3>
                                    </div>
                                    <div class="acc-content">
                                        <p>Rationally encounter consequences that are extremely painful again is there anyone who loves.</p>
                                        <div class="link-box">
                                            <a href="index-3.html"><span>Read More</span></a>
                                        </div>
                                    </div>
                                </li>
                                <li class="accordion block">
                                    <div class="acc-btn">
                                        <h3><img src="{%static 'assets/images/icons/icon-67.png'%}" alt="">Boards & Committees</h3>
                                    </div>
                                    <div class="acc-content">
                                        <p>Rationally encounter consequences that are extremely painful again is there anyone who loves.</p>
                                        <div class="link-box">
                                            <a href="index-3.html"><span>Read More</span></a>
                                        </div>
                                    </div>
                                </li>
                            </ul> -->
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <p>Can offer you “the world’s most advanced training and networking platform.We now serve customers all over Delhi and NCR, and are thrilled that we’re able to turn our passion into reality.Pragati Training Services Pvt Ltd is being run by professional team comprising of individuals with vast experience in profession and business.We hope you enjoy our services as much as we enjoy offering them toyou. If you have any questions or comments, please don’t hesitate to contact us.</p>
                    <h4 style="margin-top: 20px;">PRAGATI PARIVAR FOR BUSNIESS</h4>
                    <p style="margin-top: 8px;">The best business is referred business – That’s why our Pragati Parivar really do work for our members.
                        You can get new customers easier and quicker than your competition. Securing your exclusive place at your chosen Pragati Parivar means you block out the competition, giving you the best chance of gaining referrals.
                        Our members are consistently referring business to each other, so you could have up to 80 members promoting and recommending your products and services by word-of-mouth. As well as improving presentation skills; boosting your confidence and gaining referrals, you will from strong relationship with professional people who are there to help you.</p>
                    <p style="margin-top: 20px;">Pragati Parivar members get to know, like and trust each other and are happy to recommend your products and services, which generates quality referrals, for you to turn into good quality business.
                        Our monthly meetings provide the platform to network in a professionally structured environment that is relaxed and pressure free.</p>
                    <p style="margin-top: 20px;"><b><i>The first Pragati Parivar Wing opened in February 2016. We now have 4 Wings of Pragat Parivar.
                        Pragati Parivar meetings are held every month, giving you plenty of time to generate referrals.</i></b></p>
                    <p style="margin-top: 20px;">Every member is given 40 seconds to do a quick presentation about their business. Every month members are given 10 minutes to carry out a more comprehensive ‘Showcase’ presentation about their business in a year.
                        There is NO PRESSURE on members or visitors to give referrals at every single meeting, as this only encourages people to give worthless referrals that are not worth pursuing.</p>
                    <p style="margin-top: 20px;">Our members are more interested in Quality NOT Quantity. Don’t take our word for it, why not attend as a visitor and experience Pragati for yourself?</p>
                </div>
            </div>
        </section>
        <!-- about-style-three end -->


        <!-- statements-section -->
        {% comment %} <section class="statements-section">
            <div class="auto-container">
                <div class="row clearfix">
                    <div class="col-lg-4 col-md-6 col-sm-12 statements-block">
                        <div class="statements-block-one">
                            <div class="inner-box">
                                <div class="static-content">
                                    <div class="bg-layer" style="background-image: url(assets/images/resource/statements-1.jpg);"></div>
                                    <div class="shape" style="background-image: url(assets/images/shape/shape-21.png);"></div>
                                    <div class="content-box">
                                        <div class="icon-box"><img src="{%static 'assets/images/icons/icon-68.png'%}" alt=""></div>
                                        <h3>Our Mission</h3>
                                        <div class="link-box">
                                            <a href="about.html"><span>Read More</span></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="overlay-content">
                                    <div class="bg-layer" style="background-image: url(assets/images/resource/statements-1.jpg);"></div>
                                    <div class="content-box">
                                        <div class="icon-box"><img src="{%static 'assets/images/icons/icon-68.png'%}" alt=""></div>
                                        <h3>Our Mission</h3>
                                        <p>Indignation and dislike men who are so charms pleasure.</p>
                                        <ul class="list-style-one clearfix">
                                            <li>Endures pains to avoid</li>
                                            <li>Simple & Easy</li>
                                            <li>Secure other greater</li>
                                        </ul>
                                        <div class="link-box">
                                            <a href="about.html"><span>Read More</span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 statements-block">
                        <div class="statements-block-one">
                            <div class="inner-box">
                                <div class="static-content">
                                    <div class="bg-layer" style="background-image: url(assets/images/resource/statements-2.jpg);"></div>
                                    <div class="shape" style="background-image: url(assets/images/shape/shape-22.png);"></div>
                                    <div class="content-box">
                                        <div class="icon-box"><img src="{%static 'assets/images/icons/icon-69.png'%}" alt=""></div>
                                        <h3>Our Vision</h3>
                                        <div class="link-box">
                                            <a href="about.html"><span>Read More</span></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="overlay-content">
                                    <div class="bg-layer" style="background-image: url(assets/images/resource/statements-2.jpg);"></div>
                                    <div class="content-box">
                                        <div class="icon-box"><img src="{%static 'assets/images/icons/icon-69.png'%}" alt=""></div>
                                        <h3>Our Vision</h3>
                                        <p>Indignation and dislike men who are so charms pleasure.</p>
                                        <ul class="list-style-one clearfix">
                                            <li>Endures pains to avoid</li>
                                            <li>Simple & Easy</li>
                                            <li>Secure other greater</li>
                                        </ul>
                                        <div class="link-box">
                                            <a href="about.html"><span>Read More</span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 statements-block">
                        <div class="statements-block-one">
                            <div class="inner-box">
                                <div class="static-content">
                                    <div class="bg-layer" style="background-image: url(assets/images/resource/statements-3.jpg);"></div>
                                    <div class="shape" style="background-image: url(assets/images/shape/shape-23.png);"></div>
                                    <div class="content-box">
                                        <div class="icon-box"><img src="{%static 'assets/images/icons/icon-70.png'%}" alt=""></div>
                                        <h3>Our Leadership</h3>
                                        <div class="link-box">
                                            <a href="about.html"><span>Read More</span></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="overlay-content">
                                    <div class="bg-layer" style="background-image: url(assets/images/resource/statements-3.jpg);"></div>
                                    <div class="content-box">
                                        <div class="icon-box"><img src="{%static 'assets/images/icons/icon-70.png'%}" alt=""></div>
                                        <h3>Our Leadership</h3>
                                        <p>Indignation and dislike men who are so charms pleasure.</p>
                                        <ul class="list-style-one clearfix">
                                            <li>Endures pains to avoid</li>
                                            <li>Simple & Easy</li>
                                            <li>Secure other greater</li>
                                        </ul>
                                        <div class="link-box">
                                            <a href="about.html"><span>Read More</span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section> {% endcomment %}
        <!-- statements-section end -->


        <!-- commitment-section -->
        {% comment %} <section class="commitment-section centred">
            <div class="auto-container">
                <div class="sec-title centred">
                    <h2>Our Strong Commitment</h2>
                    <p>The City of Townsville is responding to the COVID-19 pandemic.</p>
                </div>
                <div class="row clearfix">
                    <div class="col-lg-4 col-md-6 col-sm-12 commitment-block">
                        <div class="commitment-block-one">
                            <div class="inner-box">
                                <div class="shape" style="background-image: url(assets/images/shape/shape-24.png);"></div>
                                <div class="icon-box"><img src="{%static 'assets/images/icons/icon-71.png'%}" alt=""></div>
                                <h3><a href="about.html">Effective City Planning</a></h3>
                                <p>Take trivial example which of us that to obtain some advantage.</p>
                                <div class="link-box">
                                    <a href="about.html"><span>Read More</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 commitment-block">
                        <div class="commitment-block-one">
                            <div class="inner-box">
                                <div class="shape" style="background-image: url(assets/images/shape/shape-24.png);"></div>
                                <div class="icon-box"><img src="{%static 'assets/images/icons/icon-72.png'%}" alt=""></div>
                                <h3><a href="about.html">More Inclusive City</a></h3>
                                <p>The claims of duty or the obligations frequently occur that.</p>
                                <div class="link-box">
                                    <a href="about.html"><span>Read More</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 commitment-block">
                        <div class="commitment-block-one">
                            <div class="inner-box">
                                <div class="shape" style="background-image: url(assets/images/shape/shape-24.png);"></div>
                                <div class="icon-box"><img src="{%static 'assets/images/icons/icon-73.png'%}" alt=""></div>
                                <h3><a href="about.html">Better Governance</a></h3>
                                <p>Have to be repudiated annoyances man therefore always hold.</p>
                                <div class="link-box">
                                    <a href="about.html"><span>Read More</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 commitment-block">
                        <div class="commitment-block-one">
                            <div class="inner-box">
                                <div class="shape" style="background-image: url(assets/images/shape/shape-24.png);"></div>
                                <div class="icon-box"><img src="{%static 'assets/images/icons/icon-74.png'%}" alt=""></div>
                                <h3><a href="about.html">Accountability</a></h3>
                                <p>The claims of duty or the obligations frequently occur that.</p>
                                <div class="link-box">
                                    <a href="about.html"><span>Read More</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 commitment-block">
                        <div class="commitment-block-one">
                            <div class="inner-box">
                                <div class="shape" style="background-image: url(assets/images/shape/shape-24.png);"></div>
                                <div class="icon-box"><img src="{%static 'assets/images/icons/icon-75.png'%}" alt=""></div>
                                <h3><a href="about.html">Empowered Urban Poor</a></h3>
                                <p>Have to be repudiated annoyances man therefore always hold.</p>
                                <div class="link-box">
                                    <a href="about.html"><span>Read More</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 commitment-block">
                        <div class="commitment-block-one">
                            <div class="inner-box">
                                <div class="shape" style="background-image: url(assets/images/shape/shape-24.png);"></div>
                                <div class="icon-box"><img src="{%static 'assets/images/icons/icon-76.png'%}" alt=""></div>
                                <h3><a href="about.html">Relationship with People</a></h3>
                                <p>Take trivial example which of us that to obtain some advantage.</p>
                                <div class="link-box">
                                    <a href="about.html"><span>Read More</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section> {% endcomment %}
        <!-- commitment-section end -->


        <!-- funfact-section -->
        {% comment %} <section class="funfact-section alternat-2 centred">
            <div class="bg-layer" style="background-image: url(assets/images/background/funfact-bg-2.jpg);"></div>
            <div class="auto-container">
                <div class="row clearfix">
                    <div class="col-lg-3 col-md-6 col-sm-12 funfact-block">
                        <div class="funfact-block-one">
                            <div class="inner-box">
                                <div class="icon-box"><img src="{%static 'assets/images/icons/icon-77.png'%}" alt=""></div>
                                <h3>City Population</h3>
                                <div class="count-outer count-box">
                                    <span class="count-text" data-speed="1500" data-stop="45">0</span><span>k</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12 funfact-block">
                        <div class="funfact-block-one">
                            <div class="inner-box">
                                <div class="icon-box"><img src="{%static 'assets/images/icons/icon-78.png'%}" alt=""></div>
                                <h3>Total Area in Sq.m</h3>
                                <div class="count-outer count-box">
                                    <span class="count-text" data-speed="1500" data-stop="168">0</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12 funfact-block">
                        <div class="funfact-block-one">
                            <div class="inner-box">
                                <div class="icon-box"><img src="{%static 'assets/images/icons/icon-79.png'%}" alt=""></div>
                                <h3>Average Revenue</h3>
                                <div class="count-outer count-box">
                                    <span class="count-text" data-speed="1500" data-stop="1.5">0</span><span>M</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12 funfact-block">
                        <div class="funfact-block-one">
                            <div class="inner-box">
                                <div class="icon-box"><img src="{%static 'assets/images/icons/icon-80.png'%}" alt=""></div>
                                <h3>Council Members</h3>
                                <div class="count-outer count-box">
                                    <span class="count-text" data-speed="1500" data-stop="7">0</span><span>th</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section> {% endcomment %}
        <!-- funfact-section end -->


        <!-- team-section -->
        {% comment %} <section class="team-section sec-pad">
            <div class="auto-container">
                <div class="sec-title">
                    <h2>Meet Council Members</h2>
                    <p>The City of Townsville is responding to the COVID-19 pandemic.</p>
                    <div class="link-box">
                        <a href="index.html"><span>All Members</span></a>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-lg-3 col-md-6 col-sm-12 team-block">
                        <div class="team-block-one wow fadeInUp animated" data-wow-delay="00ms" data-wow-duration="1500ms">
                            <div class="inner-box">
                                <figure class="image-box"><img src="{%static 'assets/images/team/team-1.jpg'%}" alt=""></figure>
                                <div class="share-box">
                                    <span class="share-text"><i class="flaticon-sharing"></i>Share</span>
                                    <ul class="share-links">
                                        <li><a href="index.html"><span class="fab fa-facebook-square"></span></a></li>
                                        <li><a href="index.html"><span class="fab fa-twitter-square"></span></a></li>
                                        <li><a href="index.html"><span class="fab fa-instagram-square"></span></a></li>
                                    </ul>
                                </div>
                                <h3><a href="index.html">Bertram Irvin</a></h3>
                                <span class="designation">City Mayor</span>
                                <p><a href="mailto:mayor@townsville.com">mayor@townsville.com</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12 team-block">
                        <div class="team-block-one wow fadeInUp animated" data-wow-delay="200ms" data-wow-duration="1500ms">
                            <div class="inner-box">
                                <figure class="image-box"><img src="{%static 'assets/images/team/team-2.jpg'%}" alt=""></figure>
                                <div class="share-box">
                                    <span class="share-text"><i class="flaticon-sharing"></i>Share</span>
                                    <ul class="share-links">
                                        <li><a href="index.html"><span class="fab fa-facebook-square"></span></a></li>
                                        <li><a href="index.html"><span class="fab fa-twitter-square"></span></a></li>
                                        <li><a href="index.html"><span class="fab fa-instagram-square"></span></a></li>
                                    </ul>
                                </div>
                                <h3><a href="index.html">Elvina julie</a></h3>
                                <span class="designation">Actuary</span>
                                <p><a href="mailto:actuay@townsville.com">actuay@townsville.com</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12 team-block">
                        <div class="team-block-one wow fadeInUp animated" data-wow-delay="400ms" data-wow-duration="1500ms">
                            <div class="inner-box">
                                <figure class="image-box"><img src="{%static 'assets/images/team/team-3.jpg'%}" alt=""></figure>
                                <div class="share-box">
                                    <span class="share-text"><i class="flaticon-sharing"></i>Share</span>
                                    <ul class="share-links">
                                        <li><a href="index.html"><span class="fab fa-facebook-square"></span></a></li>
                                        <li><a href="index.html"><span class="fab fa-twitter-square"></span></a></li>
                                        <li><a href="index.html"><span class="fab fa-instagram-square"></span></a></li>
                                    </ul>
                                </div>
                                <h3><a href="index.html">Herman Gordon</a></h3>
                                <span class="designation">Director</span>
                                <p><a href="mailto:director@townsville.com">director@townsville.com</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12 team-block">
                        <div class="team-block-one wow fadeInUp animated" data-wow-delay="600ms" data-wow-duration="1500ms">
                            <div class="inner-box">
                                <figure class="image-box"><img src="{%static 'assets/images/team/team-4.jpg'%}" alt=""></figure>
                                <div class="share-box">
                                    <span class="share-text"><i class="flaticon-sharing"></i>Share</span>
                                    <ul class="share-links">
                                        <li><a href="index.html"><span class="fab fa-facebook-square"></span></a></li>
                                        <li><a href="index.html"><span class="fab fa-twitter-square"></span></a></li>
                                        <li><a href="index.html"><span class="fab fa-instagram-square"></span></a></li>
                                    </ul>
                                </div>
                                <h3><a href="index.html">Marian Lenora</a></h3>
                                <span class="designation">Speaker</span>
                                <p><a href="mailto:speaker@townsville.com">speaker@townsville.com</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section> {% endcomment %}
        <!-- team-section end -->


        <!-- awards-section -->
        {% comment %} <section class="awards-section">
            <div class="bg-layer" style="background-image: url(assets/images/background/award-bg.jpg);"></div>
            <div class="pattern-layer" style="background-image: url(assets/images/shape/shape-6.png);"></div>
            <div class="logo-icon"><img src="{%static 'assets/images/icons/icon-23.png'%}" alt=""></div>
            <div class="auto-container">
                <div class="row clearfix">
                    <div class="col-xl-6 col-lg-12 col-md-12 offset-xl-6 content-column">
                        <div class="content-box">
                            <div class="sec-title light">
                                <h2>Be Proud Awards</h2>
                                <p>The City of Townsville is responding to the COVID-19 pandemic.</p>
                            </div>
                            <div class="award-carousel owl-carousel owl-theme">
                                <div class="slide-content">
                                    <div class="awards-block-one">
                                        <div class="inner-box">
                                            <figure class="award-box"><img src="{%static 'assets/images/icons/award-1.png'%}" alt=""></figure>
                                            <p>By National Govt</p>
                                            <h3><a href="index.html">Outstanding Commitment to the Environment</a></h3>
                                            <span class="date">Nov, 2022</span>
                                        </div>
                                    </div>
                                    <div class="awards-block-one">
                                        <div class="inner-box">
                                            <figure class="award-box"><img src="{%static 'assets/images/icons/award-1.png'%}" alt=""></figure>
                                            <p>By CARE Australia</p>
                                            <h3><a href="index.html">School Crossing Safety Cam Initiative</a></h3>
                                            <span class="date">Dec, 2022</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="slide-content">
                                    <div class="awards-block-one">
                                        <div class="inner-box">
                                            <figure class="award-box"><img src="{%static 'assets/images/icons/award-1.png'%}" alt=""></figure>
                                            <p>By National Govt</p>
                                            <h3><a href="index.html">Outstanding Commitment to the Environment</a></h3>
                                            <span class="date">Nov, 2022</span>
                                        </div>
                                    </div>
                                    <div class="awards-block-one">
                                        <div class="inner-box">
                                            <figure class="award-box"><img src="{%static 'assets/images/icons/award-1.png'%}" alt=""></figure>
                                            <p>By CARE Australia</p>
                                            <h3><a href="index.html">School Crossing Safety Cam Initiative</a></h3>
                                            <span class="date">Dec, 2022</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="slide-content">
                                    <div class="awards-block-one">
                                        <div class="inner-box">
                                            <figure class="award-box"><img src="{%static 'assets/images/icons/award-1.png'%}" alt=""></figure>
                                            <p>By National Govt</p>
                                            <h3><a href="index.html">Outstanding Commitment to the Environment</a></h3>
                                            <span class="date">Nov, 2022</span>
                                        </div>
                                    </div>
                                    <div class="awards-block-one">
                                        <div class="inner-box">
                                            <figure class="award-box"><img src="{%static 'assets/images/icons/award-1.png'%}" alt=""></figure>
                                            <p>By CARE Australia</p>
                                            <h3><a href="index.html">School Crossing Safety Cam Initiative</a></h3>
                                            <span class="date">Dec, 2022</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section> {% endcomment %}
        <!-- awards-section end -->

{%endblock%}