{%extends "index.html"%}
{%load static%}
{%block body%}


        <!-- page-title -->
        <section class="page-title">
            <div class="bg-layer" style="background-image: url('{%static 'assets/images/pragati/banner-2.jpg'%}');"></div>
            <div class="pattern-layer" style="background-image: url('{%static 'assets/images/shape/shape-20.png'%}');"></div>
            <div class="line-box">
                <div class="line-1"></div>
                <div class="line-2"></div>
            </div>
            <div class="auto-container">
                <div class="content-box">
                    <h1>Videos Gallery</h1>
                    <!-- <ul class="bread-crumb clearfix">
                        <li><a href="index.html">Home</a></li>
                        <li>News</li>
                        <li><span>List View 01</span></li>
                    </ul> -->
                </div>
            </div>
        </section>
        <!-- page-title end -->


        <!-- sidebar-page-container -->
        <section class="sidebar-page-container"> 
            <div class="auto-container">
                <div class="row clearfix">
                    <div class="col-lg-12 col-md-12 col-sm-12 content-side">
                        <div class="blog-list-content">
                            {%for i in vgdatafinal%}
                            <div class="news-block-two">
                                <div class="inner-box">
                                    <figure class="image-box"><a href="/videos-gallery-details/{{i.id}}"><img src="{{i.image.url}}" alt=""></a></figure>
                                    <div class="lower-content">
                                        <h6><i class="fa-regular fa-calendar-days"></i>{{i.date}}</h6>
                                        <!-- <ul class="post-info clearfix">
                                            <li>In <a href="/videos-gallery-details">Annoucement</a></li>
                                            <li>By <a href="/videos-gallery-details">Colmin Neil</a></li>
                                        </ul> -->
                                        <h2><a href="/videos-gallery-details/{{i.id}}">{{i.title}}</a></h2>
                                        {% comment %} <p>{{i.content|safe|slice:":250"}}</p> {% endcomment %}
                                        <div class="lower-box">
                                            <div class="link-box"><a href="/videos-gallery-details/{{i.id}}"><span>See More</span></a></div>
                                            <!-- <ul class="other-info clearfix">
                                                <li><img src="{%static 'assets/images/icons/icon-118.png" alt="">24 Comments</li>
                                                <li><img src="{%static 'assets/images/icons/icon-119.png" alt=""><a href="blog-details.html">Share</a></li>
                                            </ul> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {%endfor%}
                            
                            <div class="pagination-wrapper centred">
                                <ul class="pagination clearfix">
                                    {% if vgdatafinal.has_previous %}
                                    <li><a href="/videos-gallery/?page={{vgdatafinal.previous_page_number}}" class="current"><i class="flaticon-right-chevron"></i></a></li>
                                    {% endif %}
                                    {%  for n in page_range %}
                                    <li><a href="/videos-gallery/?page={{n}}" class="font-s {%if vgdatafinal.number == n%}current{%endif%}">{{n}}</a></li>
                                    {% endfor %}
                                    {% if vgdatafinal.has_next %}
                                    <li><a href="/videos-gallery/?page={{vgdatafinal.next_page_number}}" class="current"><i class="flaticon-right-chevron"></i></a></li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </section>
        <!-- sidebar-page-container end -->


        

        {%endblock%}